{% load static %}

{% if messages %}
    {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% elif message.tags == 'info' %}
                    <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
                {% elif message.tags == 'warning' %}
                    <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
    {% endfor %}
{% endif %}